$primary: "purple";
@import "ember-paper";
@import "./x-form.scss";
@import "./find-localization.scss";

html,
body {
  position: relative;
  height: 100%;
}

body > .ember-view {
  height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 25%;
  width: 50%;
  min-width: 188px;
  padding: 5px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  text-align: center;
  height: 62px;
  border-radius: 35px 35px 0 0;
  .logo-wrapper {
    margin-left: 25px;
    width: 223px;
    &--mobile {
      margin-left: auto;
      margin-right: auto;
      width: 223px;
      .logo {
        height: 52px;
      }
    }
    .logo {
      height: 52px;
    }
  }
  span {
    font-size: 18px;
    margin-right: 25px;
  }
}

.error {
  border: 3px solid darkred !important;
}

.auth-background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("dt_bg/3.jpg");
}

.nav-bar {
  height: 88px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  border-bottom: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.animated-background {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("dt_bg/0.jpg");
  &--1 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/1.jpg");
  }
  &--2 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/2.jpg");
  }
  &--3 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/3.jpg");
  }
  &--4 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/4.jpg");
  }
}
