$primary: "purple";
@import "ember-paper";
@import "./x-form.scss";
@import "./find-localization.scss";

html,
body {
  position: relative;
  height: 100%;
}

body > .ember-view {
  height: 100%;
}

.single-forecast {
  text-align: center;
  max-width: 90px;
  border-right: 1px solid black;
  padding: 7px 4px;
  cursor: pointer;

  &.active {
    background-color: lightgray;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: default;
  }

  &:last-child {
    border-right: 0px;
  }

  .weather-icon {
    height: 60px;
    width: 60px;
  }
}

md-autocomplete {
  width: 80%;
  max-width: 600px !important;
  input {
    font-size: 24px;
    font-weight: 500;
    width: 100%;
  }
}

.app-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 80px;
}

.main-info {
  margin-top: 20px;
  max-width: 500px;
  text-align: center;
  img {
    width: 256px;
    height: 256px;
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 26px;
    margin-top: 5px;
  }
  &.mobile {
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
    img {
      width: 168px;
      height: 168px;
    }
    h1 {
      font-size: 32px;
    }
    p {
      font-size: 20px;
    }
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 25%;
  width: 50%;
  min-width: 188px;
  padding: 5px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  text-align: center;
  height: 62px;
  border-radius: 35px 35px 0 0;
  .logo-wrapper {
    margin-left: 25px;
    width: 223px;
    &--mobile {
      margin-left: auto;
      margin-right: auto;
      width: 223px;
      .logo {
        height: 52px;
      }
    }
    .logo {
      height: 52px;
    }
  }
  span {
    font-size: 18px;
    margin-right: 25px;
  }
}

.error {
  border: 3px solid darkred !important;
}

.auth-background {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("dt_bg/3.jpg");
}

.nav-bar {
  height: 80px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  border-bottom: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

.animated-background {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("dt_bg/0.jpg");
  &--1 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/1.jpg");
  }
  &--2 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/2.jpg");
  }
  &--3 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/3.jpg");
  }
  &--4 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/4.jpg");
  }
}
