$primary: "purple";
@import "ember-paper";

html,
body {
  position: relative;
  height: 100%;
}

body > .ember-view {
  height: 100%;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 25%;
  width: 50%;
  min-width: 188px;
  padding: 5px;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  text-align: center;
  height: 62px;
  border-radius: 35px 35px 0 0;
  .logo-wrapper {
    margin-left: 25px;
    width: 223px;
    &--mobile {
      margin-left: auto;
      margin-right: auto;
      width: 223px;
      .logo {
        height: 52px;
      }
    }
    .logo {
      height: 52px;
    }
  }
  span {
    font-size: 18px;
    margin-right: 25px;
  }
}

.error {
  border: 3px solid darkred !important;
}

.nav-bar {
  height: 88px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  .logo-wrapper {
    width: 276px;
    .logo {
      height: 88px;
    }
  }
  .main-input-wrapper {
    min-width: 200px;
    .error-message {
      margin-top: 1px;
      text-align: center;
      color: darkred;
      min-height: 23px;
      font-weight: 700;
      font-size: 20px;
    }
    .main-input-container {
      max-width: 800px;
      width: 95%;
      height: 46px;
      font-size: 24px;
      border-radius: 20px;
      padding-left: 25px;
      padding-right: 10px;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: 18px;
      background-color: #ffffff;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
      border: 3px solid purple;
      &:focus-within {
        border: 3px solid lightgreen;
      }
      div {
        width:100%;
        .main-input {
          width: 100%;
          height: 98%;
          border: 0px;
          min-width: 80px;
          &:focus {
            outline: 0;
          }
        }
      }
      .main-nav-wrapper {
        min-width: 200px;
      }
      .menu-wrapper {
        min-width: 24px;
        .paper-icon {
          min-width: 24px;
        }
      }
    }
  }
}

.animated-background {
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("dt_bg/0.jpg");
  &--1 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/1.jpg");
  }
  &--2 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/2.jpg");
  }
  &--3 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/3.jpg");
  }
  &--4 {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("dt_bg/4.jpg");
  }
}
