{{#paper-form class="main-form layout-column layout-align-start-center" onSubmit=(action "createUser") as |form|}}
  <h1>Sign up</h1>
  
  {{form.input 
    label="Email" 
    value=user.email 
    onChange=(action (mut user.email))
    isTouched=(is-ok user.errors.email.[0].message)
    errors=(validation-message user.validations.attrs.email.messages user.errors.email)}}
  {{form.input 
    label="Password" 
    type="password" 
    value=user.password 
    onChange=(action (mut user.password))
    errors=user.validations.attrs.password.messages}}
  
  <div class="buttons-wrapper layout-row layout-align-end-center">
    {{#paper-button raised=true}}
      Clear
    {{/paper-button}}
    {{#form.submit-button raised=true primary=true}}
      Create
    {{/form.submit-button}}
  </div>
{{/paper-form}}