{{#paper-form class="main-form layout-column layout-align-start-center" onSubmit=(action "createUser") as |form|}}
  <h1>Sign up</h1>
  
  {{form.input type="email" label="E-mail" value=user.email onChange=(action (mut user.email))}}
  {{form.input type="password" label="Password" value=user.password onChange=(action (mut user.password))}}
  
  <div class="buttons-wrapper layout-row layout-align-end-center">
    {{#paper-button raised=true}}
      Clear
    {{/paper-button}}
    {{#form.submit-button raised=true primary=true}}
      Create
    {{/form.submit-button}}
  </div>
{{/paper-form}}